body {
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.header {
  margin: auto;
  width: 40%;
  font-weight: 100;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#profilepic {
  margin-top: 7.5em;
  margin-bottom: 2.5em;
  border-radius: 50%;
  width: 40%;
  border: .125em solid rgb(255, 255, 255);
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.4);
}

#dev {
  margin-top: -1.25em;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.25);
}

#fav {
  color: rgb(194, 194, 194);
}

hr {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.aboutme {
  margin-top: 50px;

}

.bodytext {
  color: rgb(182, 182, 182);
}

.list {
  list-style: none;
}

li {
  padding: 0 0 1em;
}

hr {
  margin-top: 50px;
}

a:link { 
  text-decoration: none;
  color: white;
}

a:visited { 
  text-decoration: none;
  color: white;
}

a:hover { 
  text-decoration: none;
  color: white;
}

a:active { 
  text-decoration: none;
  color: white;
}

#bottom {
  margin-top: 50px;
  margin-bottom: 25px;
}

.logo {
  width: 5%;
  margin-bottom: 100px;
}